.root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translate(50%, 0);
  right: 50%;
  background-color: #000000bf;
  z-index: 6;
}

.image {
  position: fixed;
  top: 10%;
  right: 50%;
  transform: translate(50%, 0);
  width: 400px;
  height: auto;
}

.close {
  position: fixed;
  top: 0%;
  left: 90%;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .image {
    width: 100%;
    height: auto;
  }
}
